body,
h1 {
  font-family: "Raleway", sans-serif
}

body,
html {
  height: 100%
}

/* logo nav-bar*/
.w3-display-topleft {
  position: relative;
  text-align: center !important;
}

.navLogo {
  width: 50%;

  
  height: auto;
  margin-top: 30px;
}

/* img textura*/
.bgimg {
  background-image: url('../img/textura.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* text banner */
.w3-display-middle {
  position: absolute;
  top: 40%;
  right: auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.bg-comminSoon {
  background-color: #00000085;
  border-radius: 30px;
  width: 90%;
  min-width: 320px;
  max-width: 550px;
  padding: 10px;
  text-align: center;
  z-index: 3;
}

.text-header {
  font-size: 2rem;
}

/* img Moto */
img.moto {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  min-width: 300px;
  max-width: 900px;
  height: auto;
}

/* */
.crlts {
  color: #a9a9a9b8;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  img.moto {
    width: 60%;
}.navLogo {
  width: 30%;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .w3-display-middle {
    top: 50%!important;
}
img.moto {
  width: 50%;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@media only screen and (orientation: landscape) {
  .navLogo {
    width: 20%;
    height: auto;
    margin-top: 0;
}
.bg-comminSoon {
  width: 50%;
}

.w3-display-middle {
  position: absolute;
  top: 50%;
  left: 73%;
}
}